<div class="container-fluid" [formGroup]="hotkeyForm">
  <div class="row my-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="Identificação" formControlName="Nome" />
    </div>
    <div class="col-3">
      <input type="text" class="form-control" placeholder="Hotkey" formControlName="Atalho" />
    </div>
    <div class="col-auto">
      <button type="button" class="btn btn-primary" (click)="onSave()">Save</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ngx-monaco-editor formControlName="Script" [options]="editorOptions"></ngx-monaco-editor>
    </div>
  </div>
</div>
