<ng-template #defaultModalHeaderTemplate>
  Aviso
</ng-template>

<div class="modal-header" *ngIf="exibirTitulo">
  <h4 class="modal-title">
    <ng-template [ngTemplateOutlet]="modalHeaderTemplate || defaultModalHeaderTemplate"> </ng-template>
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <ng-content></ng-content>
</div>

<div class="modal-footer" *ngIf="exibirFooter">
  <ng-template [ngTemplateOutlet]="modalFooterTemplate"></ng-template>
</div>
